.intro {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.profile {
  position: absolute;
  top: -4rem;
  right: 0;
  z-index: -1;
  object-fit: cover;
  height: 100vh;
}

.introContent {
  height: 100vh;
  width: 100vw;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 1.75rem;
  font-weight: 100;
}

.introname {
  color: yellow;
  overflow: hidden;
  white-space: nowrap;
  animation: fadeInLetters 1.5s forwards;
}

@keyframes fadeInLetters {
  from {
    width: 0;
  }
  to {
    width: auto;
  }
}

.intropara {
  font-size: medium;
  font-weight: 300;
  letter-spacing: 1px;
}

.btn {
  background-color: white;
  color: black;
  width: 9rem;
  height: 2rem;
  border-radius: 30px;
  font-weight: bolder;
  border: none;
  margin: 1rem 0;
}

@media screen and (max-width: 840px) {
  .profile {
    right: -10vw;
  }
  .introContent {
    font-size: 10vw;
  }
  .hello {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    right: -50%;
    width: 150%;
    height: 100%;
    object-fit: cover;
  }
  .introContent {
    position: relative;
    z-index: 1;
  }
  .intropara {
    font-size: 0.8rem;
  }
}